body {
    font-family: Verdana, sans-serif;
    background-image: url('../img/back2.jpg');
    color: #333;
    text-align: center;
}

.game-canvas {
    width: 1280px; 
    height: 720px; 
    margin: 50px auto; 
    border: 1px solid white; 
    overflow: hidden; 
    position: relative;
    background-color: rgb(144, 255, 253);
}

/* Estructura del encabezado */
.header-content {
    align-items: center;
    display: flex;
}

/* Logo animado */
.logo img {
    width: 400px;
    animation: growShrink 5s ease-in-out infinite;
}

@keyframes growShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

button img {
    width: 60px;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-button-left button {
    margin-right: 290px;
    padding: 10px;
    font-size: 18px;
    background-color: #15cc40;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.menu-button-left button:hover {
    background-color: #0d9f2f;
}

.titulo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
}

.portadas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.level-image {
    width: 300px;
    height: auto;
    border: 2px solid gray;
    filter: grayscale(100%);
    transition: all 1.5s ease;
}

/* Imagen seleccionada */
.level-image.selected {
    filter: grayscale(0%);
    border: 5px solid red;
    transform: scale(1.15);
}

.level-image:hover {
    cursor: pointer;
    filter: grayscale(20%);
}

.NivelDescripcion {
    background-color: #15cc40;
    padding: 0.3px;
    border-radius: 55px;
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 60px;
}

.menu-button {
    margin-top: 20px;
}

.menu-button button {
    padding: 10px;
    font-size: 24px;
    background-color: #15cc40;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.menu-button button:hover {
    background-color: #0d9f2f;
}
